.divMain {
  display: flex;
  justify-content: space-between;
  gap: 2vw;
  margin-top: 3vh;
}

.divCard {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 43vh;
  width: 17vw;
  max-width: 297px;
}

.divCategoriesMain {
  display: flex;
  flex-direction: column;
  padding: 3vh 2vw;
}

.divCategories {
  display: flex;
  align-items: center;
}

.h2Categories {
  color: #282828;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  padding-right: 3vw;
}

.lineRight {
  width: 100%;
  height: 1px;
  margin-top: 3.5vh;
  background: #ddd;
}

.btnAllCategories {
  width: 100%;
  max-width: 128px;
  padding: 1vh 0vw;
  border-radius: 6px;
  border: 1px solid #ddd;
  background: none;
  margin-top: 3vh;
  color: #8b8b8a;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 126%;
  transition: 1s;
}

.btnAllCategories:hover {
  cursor: pointer;
  background-color: #e8e8e8;
}

.divCard:hover {
  cursor: pointer;
}

.photoCategories {
  height: 36vh;
  width: 17vw;
  border-radius: var(--radius-big, 12px);
  max-width: 300px;
  max-height: 300px;
}

.NameP {
  margin-top: 1vh;
  color: var(--txt-black, #282828);
  text-align: center;
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}

@media screen and (max-width: 604px) {
  .NameP {
    font-size: 1rem;
  }
}

@media screen and (min-width: 2990px) {
  .divCard {
    height: auto;
  }
}
@media screen and (min-width: 4485px) {
  .h2Categories {
    font-size: 4rem;

    padding-right: 2vw;
    margin-top: 2.5vh;
  }
}
