.divProdByCategoriesMain {
  padding: 3vh 2vw;
}

.h2ProdByCategories {
  color: #282828;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  padding-right: 2vw;
}

.h2AllProdByCategories {
  margin-left: 8vw;
}

.divProdByCategories {
  display: flex;
  align-items: center;
}

.lineRight {
  width: 100%;
  height: 1px;
  margin-top: 3.5vh;
  background: #ddd;
}

.btnAllProdByCategories {
  max-width: 128px;
  padding: 1vh 0vw;
  border-radius: 6px;
  border: 1px solid #ddd;
  background: none;
  margin-top: 3vh;
  color: #8b8b8a;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 126%;
  transition: 1s;
  width: 32vw;
}

.linkProdByCategories {
  color: #8b8b8a;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 126%;
  transition: 1s;
  text-decoration: none;
}

.btnAllProdByCategories:hover {
  cursor: pointer;
  background-color: #e8e8e8;
}

.cardsProdByCategories {
  height: 42vh;
  width: 100%;
  border-radius: var(--radius-big, 12px);
  max-width: 300px;
  max-height: 300px;
}

.prodByCategoriesCardDiv {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2vw;
  margin-top: 3vh;
}

.prodByCategoriesCard:hover {
  cursor: pointer;
}

.imageContainer {
  position: relative;
}

.imageButton {
  color: var(--txt-white, #fff);
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  position: absolute;
  top: 63%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  border: none;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: var(--radius-small, 6px);
  background: var(--green, #393);
  display: flex;
  width: 16vw;
  padding: 2vh 0vw;
  justify-content: center;
  max-width: 239px;
  max-height: 50px;
}

.imageContainer:hover .imageButton {
  opacity: 1;
}

.imageButton:hover {
  background-color: rgb(0, 0, 0);
}

.prodByCategoriesDiscount {
  position: absolute;
  top: 8%;
  left: 90%;
  transform: translate(-50%, -50%);
  color: #fff;
  padding: 4px;
  font-size: 1rem;
  border-radius: var(--radius-small, 6px);
  background: var(--green, #393);
}

.h3ProdByCategories {
  color: var(--txt-black, #282828);
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  margin: 1vh 1vw;
}

.spanOriginalPrice {
  color: var(--txt-grey, #8b8b8b);
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  text-decoration: line-through;
}

.spanAllProductPrice {
  font-size: 3rem;
  margin: 0 1vw;
  color: var(--txt-black, #282828);
  font-style: normal;
  font-weight: 600;
  line-height: 110%;
}

.spanPrice {
  font-size: 3rem;
  margin: 0 1vw;
  color: var(--txt-black, #282828);
  font-style: normal;
  font-weight: 600;
  line-height: 110%;
}

.prodByCategoriesImageContainer {
  border-radius: var(--radius-big, 12px);
  border: 1px solid var(--grey-divider, #ddd);
  padding-bottom: 3vh;
}

.prodByCategoriesCardDivShow {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2vw;
  margin-top: 3vh;
}

.btnsBox {
  display: flex;
  max-width: 31vw;
  min-width: 500px;
  align-items: center;
  margin-left: 4vw;
  padding: 0 2vw;
}

.h2Sale {
  color: #282828;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  padding: 0 6vw;
  margin-top: 6vh;
}

.linksPage {
  text-decoration: none;
  color: #8b8b8a;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 126%;
  transition: 1s;
}

.spanPriceSort {
  color: var(--txt-black, #282828);
  font-size: 1rem;
  font-weight: 600;
  line-height: 130%;
}

.inputSort {
  width: 112px;
  padding: 8px 16px;
  border-radius: var(--radius-small, 6px);
  border: 1px solid var(--grey-divider, #ddd);
}

.sortParamDiv {
  display: flex;
  justify-content: flex-start;
  gap: 3vw;
  padding: 4vh 6.3vw;
  padding-bottom: 0;
}

.inputsDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}

.listDiv {
  display: flex;
  align-items: center;
  gap: 1vw;
}

.selector {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: flex;
  width: 200px;
  padding: 8px 8px 8px 16px;
  align-items: center;
  gap: 8px;
  border-radius: var(--radius-small, 6px);
  border: 1px solid var(--grey-divider, #ddd);
}

.options {
  background-color: #fff;
  color: #8b8b8b;
}

.checkBoxDiv {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
  margin-left: 2vw;
}

.iconChecked {
  position: absolute;
  top: 30%;
  left: 86%;
  pointer-events: none;
}

input[type="checkbox"] {
  appearance: none;
  display: flex;
  width: 36px;
  height: 36px;
  align-items: center;
  gap: 10px;
  border-radius: var(--radius-small, 6px);
  border: 1px solid var(--grey-divider, #ddd);
  transition: 0.4s;
}

input[type="checkbox"]:checked {
  background-color: #5cb85c;
  border: 1px solid #4cae4c;
}

.lineRightPage {
  width: 100%;
  height: 1px;
  margin-top: 3.5vh;
  background: #ddd;
  max-width: 1vw;
}

.btnUpper {
  max-width: 128px;
  padding: 1vh 0vw;
  border-radius: 6px;
  border: 1px solid #ddd;
  background: none;
  margin-top: 3vh;
  color: #8b8b8a;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 126%;
  transition: 1s;
  width: 32vw;
}

.btnUpper:hover {
  cursor: pointer;
  background-color: #e8e8e8;
}

@media screen and (max-width: 765px) {
  .btnsBox {
    display: none;
  }

  .h2Sale {
    text-align: center;
  }
}

@media screen and (max-width: 756px) {
  .sortParamDiv {
    flex-direction: column;
  }

  .inputsDiv {
    gap: 3vw;
    flex-direction: column;
  }

  .listDiv {
    justify-content: center;
  }
}

@media screen and (max-width: 910px) {
  .prodByCategoriesDiscount {
    left: 51%;
  }

  .imageButton {
    align-items: center;
    width: 28vw;
    top: 61%;
  }
}

@media screen and (max-width: 650px) {
  .spanOriginalPrice {
    font-size: 1rem;
  }

  .spanPrice {
    font-size: 2rem;
  }
}
@media screen and (min-width: 2990px) {
  .prodByCategoriesImageContainer {
    max-width: 302px;
  }

  .imageButton {
    top: 32%;
  }
}

@media screen and (min-width: 4485px) {
  .h2ProdByCategories {
    font-size: 4rem;
    padding-right: 1vw;
    margin-top: 2.5vh;
  }

  .spanOriginalPrice {
    font-size: 20px;
  }
}
@media screen and (max-width: 956px) {
  .prodByCategoriesCardDiv {
    display: flex;
    justify-content: center;
    gap: 2vw;
    margin-top: 3vh;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 426px) {
  .divProdByCategories {
    flex-direction: column;
  }
}

@media screen and (max-width: 492px) {
  .h2ProdByCategories {
    font-size: 2rem;
  }

  .h2AllProdByCategories {
    margin: 0;
  }

  .divProdByCategories {
    justify-content: center;
  }
}

@media screen and (min-width: 1483px) {
  .h2AllProdByCategories {
    margin: 0;
    padding: 0 4vw;
  }
}
