.addaptivMain {
  display: none;
  flex-direction: column;
  align-items: center;
}

.modalNav {
  position: absolute;
}

/* YourStyles.module.css */

.cartContainer {
  position: relative;
}

.cartLogo {
  width: 40px;
  height: auto;
}

.countBall {
  position: absolute;
  top: 39%;
  left: 20%;
  transform: translate(-50%, -50%);
  background-color: #393;
  color: #fff;
  border-radius: 50%;
  padding: 5px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15px;
  height: 15px;
}

.navBarDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 9vw;
  max-width: 2000px;
  padding: 1vh 3vh;
  position: relative;
  border-bottom: 1px solid;
}

.logo {
  width: 70px;
  max-width: 47px;
  padding: 1vh 0;
}

.logo:hover {
  cursor: pointer;
}

.ulNav {
  display: flex;
  gap: 2vw;
  padding: 0;
  align-items: center;
}

.liNav {
  list-style-type: none;
}

.linksNavBar {
  color: #282828;
  font-size: 1em;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 26px */
  transition: color 0.2s;
  text-decoration: none;
}

.linksNavBar:hover {
  color: #339933;
  cursor: pointer;
}

.cartLogo {
  width: 30px;
  /* display: none; */
}

.cartLogo:hover {
  cursor: pointer;
}

.hidden {
  display: none;
}

@media screen and (min-width: 5980px) {
  .ulNav {
    gap: 1vw;
  }
}

@media screen and (max-width: 777px) {
  .cartLogo {
    display: none;
  }

  .addaptivMain {
    display: flex;
  }

  .logo {
    padding-left: 1vw;
    max-width: 43px;
  }

  .ulNav {
    display: none;
  }

  .navBarDiv {
    justify-content: center;
    gap: 37vw;
  }

  .countBall {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .navBarDiv {
    padding: 1vh 0;
  }
}
